@font-face {
    font-family: 'definately_mayberegular';
    src: url('definitely_maybe-webfont.woff2') format('woff2'),
         url('definitely_maybe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav-header {
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 100vw;
    background-color: white;
    border-bottom: solid black;
    button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: inherit;
        border: none;
        font-size: 1.5em;
    }
    .nav-logo {
        font-family: 'definately_mayberegular';
        position: fixed;
        border: solid black;
        background-color: white;
        width: 14em;
        height: 14em;
        border-radius: 100%;
        display: grid;
        place-content: center;
        z-index: 5;
        border-top: 0px;
        .nav-logo-title {
            font-size: 4.5em;
        }
    }
    .ReactTags__selected {
        // border: solid red;
        width: 30%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 2em;
        margin-bottom: .5em;
    }
    .ReactTags__tag {
        margin-right: 5px;
        font-family: 'Special Elite', cursive;
    }
    .ReactTags__remove {
        margin-left: 1px;
    }
    .ReactTags__tagInput {
        width: 50%;
        float: right;
    }
    .ReactTags__tagInputField {
        float: right;;
    }
}

.gallery-main {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    padding-top: 130px;
    background-color:  	 	 	#001000;
    background-image: url(brickback.jpg);
    background-attachment: fixed;
    // border:solid purple;
}

.gallery-grid {
    position: absolute;
    margin-top: 8em;
}

.gallery-item-wrap {
  padding: 2rem;
  position: relative;
  background: linear-gradient(to right, #a8ff78
, #78ffd6);
  padding: 6px;
}

.gallery-item {
  display: grid; 
  background:  	#080808;
  color: white;
  font-family: 'Special Elite', cursive;
  padding: 1rem;
  overflow: hidden;
  .gallery-img {
    width: 100%;
    max-height: 270px;;
  }
  a {
      color: white;
      text-decoration-line: none;
  }
}

.gallery-spinner{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}